.App {
  text-align: center;
  flex-direction: column;
  justify-content: center;
}

input[type=text],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #595c59;
}

div {
  border-radius: 5px;
  background-color: #f3efef;
  padding: 20px;
}


button {
  width: 320px;
  height: 50px;
  margin-top: 15px;
}

button:hover {
  cursor: pointer;
}